[mssql]
server = DESKTOP-04QT9I1
#database = Konji2026
database = Konji2026Production
driver = ODBC Driver 17 for SQL Server


[selenium]

driver = c:\drivers\chromedriver.exe
main_page = https://www.racingpost.com
